*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container-fluid{
    height:100vh;
    padding-left:0;
}
#left-div{
    background-image: url('../img/sideImg.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    width:50%;
    height:100%;
}
#right-div{
    width:50%;
}
.validation-content{
    padding:0;
    margin:0;
    width:100%;  
}

a,a:hover,a:active{
    text-decoration:none;
    color:inherit;
}
.fa{
    color:white;
    cursor:pointer;
}
.btn{
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    white-space: nowrap;
}

#profile-icon{
    margin-right:10px;
}
#post-content form{
    width:50%;
}
form{
    text-align:center;
}
.search-bar input{
    padding:0px 0px;
    margin:0;
    background-color:white;
}

#nav-profile{
    cursor: pointer;
}
p{
    text-align:center;
}
.dropdown-item{
    font-size:14px;
    padding:0;
    margin:0;
}
.input-icons i {
    position: absolute;
}
.input-icons {
    width: 100%;
}              
#search-icon {
    padding: 10px;
    color: gray;
    text-align: left;
    cursor:default;
}
#search {
    width: 100%;
    padding-left: 10px;
    text-align: left;
    background-color:white;
}
.card{
    margin-bottom:15px;
}
.card-img-bottom img{
    height:600px;
}
.tweets-btn i{
    margin-right:10px;
}
.profile_pic{
    height:20px;
    width:20px;
    border-radius:50%;
}
.post_userimage{
    height:30px;
    margin-top:5px;
    margin-right:5px;
    width:30px;
    border-radius:50%;
}
.nav_userimage{
    height:30px;
    width:30px;
    border-radius:50%;
}
#nav-user{
    color:#ffff;
}
.tweet-content img {
    height:543px;
    width:543px;
}
  .modal-body{
    height: 250px;
    overflow-y: auto;
}
.dp img {
    height:180px;
    width:180px;
    border-radius: 50%;
  }
.post-menu{
    color:gray; 
    cursor:pointer;
}
.fa{
    color:gray;
}
nav .fa{
    color:white;
}
.modal li{
    list-style-type:none;
}
#profile-icon{
    cursor:default;
}
.follow-list{
    cursor:pointer;
}
.retweet-content{
    border: 2px solid rgba(0, 0, 0, .1); 
    border-radius:10px; 
    padding:10px;
}
#tweet-content{
    margin:auto;
}
.retweet-body{
    margin:auto;
    position:relative;
}
.retweet-menu{
    position: absolute;
    right:0;
    top:0;
}
.rtcontent-logo{
    margin-top:10px;
}
.input-modal{
   height:auto;
}

#lists-user a{
    height:100%;
    padding:10px;
    width: 90%;
    overflow: hidden;
}
#lists-user
{
    display: inline-block;
    padding:0;
    margin:0;
}
select{
    color:#fff;
    width:auto;
    font-size: 12px;
}
select option{
    color:#000;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.full-height{
    height:100vh;
}
.navbar-profile{
    display:flex;
}
.menu-bar{
    display:none;
}
#searchlist{
    width:58vw;
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
}
#show-list .viewlist{
    display:flex;
    align-items:center;
}
#showlist .viewlist{
    display:none;
}

 @media (max-width: 768px) { 
.validation-content{
    position: relative;
    padding:0;
    margin:0;
    box-sizing:border-box;
    max-height:100vh;
    width:100%;
}

#left-div{
    width:100%;
}
.navbar{
    padding:0;
    display:flex;
    align-items:center;
    justify-content: center;
}
.navbar-profile{
    display:none;
}  
.search-bar{
    display:none;
    padding:0;
    margin:0;
} 
.menu-bar{
    display:flex;
}

#right-div{
    color:white;
    height:100%;
    width:100%;
    position: absolute;
    right:0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);
}
#right-div h1{
    color:white;
}

.validation-container{
    padding:0;
}
.edit-page{
    display:flex;
    justify-content: center;
    align-items:center;
}
.validation-container input {
    color:#fff;
}
.validation-container ::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
    color: #fff;
}
.validation-container ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}
.validation-container :-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.validation-container:-ms-input-placeholder {  /* Edge/IE 10+ */
    color: #fff;
}



@media (max-width: 576px) { 
.navbar-nav{
    display:flex;
    justify-content:center;
    align-items:center;
}
.navbar{
    padding:0;
    display:flex;
    align-items:center;
    justify-content: center;
}
.navbar-profile{
    display:none;
}
.search-bar{
    display:none;
}
.menu-bar{
    display:flex;
}
#profile-icon{
    margin-right: 0;
    padding:0;
}
.validation-container input {
    color:#fff;
}
.validation-container ::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
    color: #fff;
}
.validation-container ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}
.validation-container :-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.validation-container:-ms-input-placeholder {  /* Edge/IE 10+ */
    color: #fff;
}
}


}